*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

.flex-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.prenav{
    height: 30px;
    background-color: #000;
    font-size: 12px;
    color: rgba(255,255,255,.8);
}

.prenav-list{
    list-style-type: none;
    margin: 0 10px;
}

.bold{
    font-weight: bold;
}

.prenav-list > li {
    display: inline-block;
    padding: 0 5px;
}

.sticky-nav{
    position: sticky;
    top: 0;
    z-index: 1000;
}

#navbar{
    height: 50px;
    background-color: #fff;
    color: rgba(0,0,0,.3);
    font-size: 14px;
    font-weight: 600;
    padding-left: 20px;
}

.nav-list > li{
    display: inline-block;
    padding: 0 10px;
}

.tnw-nav{
    font-size: 18px;
    color: #000;
    font-weight: 700;
}

.countdown{
    color: red;
    font-size: 20px;
}

.tickets-btn{
    background-color: rgb(0, 194, 194);
    color: #fff;
    font-size: 10px;
    font-weight: 700;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
}

.tickets-btn:hover{
    cursor: pointer;
    background-color: purple;
}

.postnav{
    background-color: rgb(248, 224, 10);
    font-size: 12px;
    font-weight: 600;
    padding: 8px 20px; 
}

.hide{
    display: none !important;
}

.three-articles{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 5px 10px;
    grid-gap: 10px;
    height: 70vh;
    
}

.big-article{
    background-image: url("../assets/big-article.jpg");
    grid-row: 1 / -1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.small-article{
    position: relative;
}

.small-article-1{
    background-image: url("../assets/small-article-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.small-article-2{
    background-image: url("../assets/small-article-2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.link-to-art{
    display:block;
    width: 100%;
    height: 90%;
}

.logo-article{
    position: absolute;
    top: 0;
    left: 10px;
    font-size: 120px;
    font-weight: 700;
    color: #fff;
    padding: 0;
}

.date-article{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    color: #fff;
}

.cover-header{
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: #fff;
}

.cover-genre{
    font-size: 20px;
    font-weight: 600;
}

.cover-title{
    font-size: 60px;
    font-weight: 700;
}

.cover-meta-info{
    display: flex;
    font-size: 12px;
}

.meta-data{
    padding-right: 20px;
    font-weight: 600;
}

.small-article-genre{
    font-size: 20px;
}

.small-article-title{
    font-size: 28px;
    font-weight: 700;
}

.wrapper{
    margin: 50px auto;
    width: 80%;
}

.latest-news{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
}

.subtitle{
    color: red;
    font-size: 24px;
    margin-bottom: 12px;
}

.latest-subtitle{
    grid-column: 1 / -1;
}

.latest-photo-anchor{
    display: block;
    width: 100%;
}

.latest-photo-anchor img{
    width: 100%;
}
.latest-title{
    text-decoration: none;
    color: #000;
    font-size: 15px;
    font-weight: 700;
    line-height: 10px;
}

.latest-author-date{
    font-size: 12px;
    color: rgba(0,0,0,.5);
}

.funding-rounds{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

.funding-subtitle{
    grid-column: 1/3;
}

.algo{
    grid-column: 3/5;
    justify-self: end;
    color: rgb(255, 60, 0);
    align-self: center;
    font-weight: 600;
}

.funding-header{
    position: relative;
}

.funding-img{
    position: absolute;
    width: 60px;
    top: 10px;
    left: 10px;
}

.funding-title{
    background-color: red;
    color: #fff;
    padding: 10px;
    padding-left: 80px;
    font-weight: 700;
    font-size: 18px;
}

.funding-money{
    background-color: lightpink;
    padding: 10px;
    padding-left: 80px;
}

.funding-money-amount{
    font-weight: 700;
}

.funding-money-idk{
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 300;
}

.funding-item{
    padding: 5px 10px;
}

.last-funding-item{
    padding-bottom: 20px;
    border-bottom: 1px solid lightpink;
}

.funding-source{
    font-size: 12px;
    color: rgba(0,0,0,.5);
    padding: 10px;
}

.genre{
    margin-bottom: 30px;
}

.genres{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
}

.genre-img{
    width: 100%;
}

.latest-new-genre{
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-bottom: 10px;
}

.latest-img-small{
    grid-column: 2 / 3;
    height: 96px;
    width: 96px;
    object-fit: cover;
    justify-self: end
}

.otro-div{
    padding-left: 10px;
    color: red;
    font-size: 14px;
}

.latest-title-genre{
    font-weight: 1000;
}

.list-of-latest{
    color: red;
    padding: 5px 15px;
    padding-right: 0;
    font-size: 13px;
}

.list-of-latest li{
    padding: 7px 0;
    border-bottom: 1px solid rgba(0,0,0,.1);
}

.list-of-latest a{
    text-decoration: none;
    color: rgba(0,0,0,.7);
}

.latest-deals{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    margin-bottom: 50px;
}

.deals-subtitle{
    grid-column: 1/3;
}

.all-deals{
    grid-column: 4/-1;
    justify-self: end;
    align-self: center;
    color: red;
}

.deal-title{
    font-weight: 700;
    margin-bottom: 5px;
}

.discount{
    text-decoration: line-through;
    color: rgba(0,0,0,.5);
    font-size: 14px;
}

footer{
    width: 100%;
    padding: 30px;
    background-color: #000;
    color: #fff;
    text-align: center;
}

.social-media{
    margin: 20px auto;
    text-align: center;
}

.footer-nav{
    margin-bottom: 50px;
}

.legal{
    font-size: 14px;
}




/* !!!!!!!!!!!!!!!!!!!MEDIA QUERIES !!!!!!!!!!!!!!!! */

@media all and (max-width: 1114px){
    .hide-1114{
        display: none !important;
    }

    .wrapper{
        width: 90%;
    }
}

@media all and (max-width: 1024px){
    .wrapper{
        width: 95%;
    }

    .three-articles{
        height: 60vh;
    }

    .hide-1024, .hide-1024-shared{
        display: none !important;
    }

    .cover-title{
        font-size: 45px;
    }

    .small-article-title{
        font-size: 22px;
    }

    .latest-news{
        grid-template-columns: 1fr 1fr 1fr;
    }

    .funding-rounds{
        grid-template-columns: repeat(3, 1fr);
    }

    .last-funding{
        display: none;
    }

    .funding-subtitle{
        grid-column: 1 / -1;
    }

    .algo{
        grid-column: 1 / -1;
        justify-self: start;
    }

    .genres{
        grid-template-columns: 1fr 1fr;
    }

    .latest-deals{
        grid-template-columns: repeat(3, 1fr);
    }

    .deals-subtitle{
        grid-column: 1/3;
    }
    
    .all-deals{
        grid-column: 3/-1;


}


@media all and (max-width: 768px){
    .flex-nav{
        justify-content: end;
    }

    .mobile-list{
        display: inline-block !important;
    }

    .postnav{
        padding-top: 30px !important ;
        padding-bottom: 30px !important;
        text-align: center;
    }

    .hide-mobile{
        display: none
    }

    .three-articles{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        height: 80vh
    }

    .big-article{
        grid-row: 1/2;
    }

    .size-768-genre{
        font-size: 14px;
    }

    .size-768-title{
        font-size: 22px;
    }

    .hide-1024-shared{
        display: block !important;
    }

    .latest-news{
        grid-template-columns: 1fr;
    }

    .lastest-article{
        display: grid;
        grid-template-columns: 1fr 5fr;
        grid-gap: 15px;
    }

    .funding-rounds{
        grid-template-columns: 1fr;
    }

    .genres{
        grid-template-columns: 1fr;
    }

    .latest-deals{
        grid-template-columns: 1fr;
    }

    .deals-subtitle{
        grid-column: 1 / -1;
    }

    .all-deals{
        grid-column: 1 / -1;
        justify-self: start;
    }

    .deal{
        display: grid;
        grid-template-columns: 1fr 5fr;
    }

}


